/* Google Fonts Link */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Work+Sans:wght@400;700&display=swap");

/* Common Styles Here  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-bg-color: #fff4e7;
  --primary-color: #ff900e;
  --light-color: #727272;
  --dark-color: #131313;
  --box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 1rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--dark-color);
}
p {
  font-size: 20px;
  margin: 30px 0;
}
img {
  max-width: 100%;
}
.btn {
  font-size: 18px;
  font-weight: 700;
  padding: 15px 25px;
  color: white;
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* ain Navigation Section Here  */

.header {
  background-color: var(--main-bg-color);
}
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
}
.logo {
  font-family: "Pacifico", cursive;
  font-size: 30px;
}
.logo span {
  color: var(--primary-color);
}

.main-nav ul {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.main-nav a {
  font-size: 20px;
}
.main-nav a:hover {
  color: var(--primary-color);
}
/* Top Header Section  */
.top-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.banner-text {
  max-width: 862px;
  margin: 50px 0;
}

.top-header h1 {
  font-size: 64px;
}
.banner-img {
  padding-bottom: 50px;
}
/* Quick list of Our Features  */
.features-section {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 90px 0;
}

.feature-img-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 342px));
  gap: 25px;
}
.feature-text-section {
  width: 50%;
}
.feature-text-section h1 {
  font-size: 45px;
}
/* enjoyable features details section  */
.enjoyable-features-section {
  display: flex;
  gap: 150px;
  margin: 50px 0;
}
.feature-info {
  width: 50%;
}
.feature-title {
  font-size: 45px;
  border-left: 5px solid var(--primary-color);
  padding-left: 14px;
}

.feature-info-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.feature-info-card {
  box-shadow: var(--box-shadow);
  padding: 25px;
  border-radius: 8px;
}
.feature-info-card p {
  margin: 10px 0 0 0;
}
.feature-info-img {
  position: relative;
  width: 50%;
  margin: auto;
}
.experience-text {
  position: absolute;
  background-color: var(--primary-color);
  height: 180px;
  width: 300px;
  bottom: -50px;
  left: -80px;
  font-size: 30px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-weight: 700;
}
.experience-text span {
  font-size: 4rem;
  text-align: center;
}
/* Some Facts Section  */
.facts-section {
  margin: 70px 0;
}
.facts-section > h1 {
  font-size: 45px;
}
.facts-section p {
  max-width: 550px;
}
.facts-section {
  margin: 70px 0;
}
.facts-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 35px;
  margin: 50px 0;
}
.facts-card {
  border: 2px solid var(--primary-color);
  min-width: 250px;
  display: flex;
  gap: 1rem;
  min-height: 238px;
  border-radius: 3px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.facts-card h4 {
  font-size: 2rem;
}
.facts-card span {
  font-size: 1.3rem;
  font-weight: 700;
}
.facts-card:hover {
  background-color: rgba(255, 143, 14, 0.2);
  transform: scale(1.1);
  transition: transform 1.5s ease-in-out;
}

/* Get Started With Our Design  */

.facade-section {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  color: #fff4e7;
  padding: 20px 15px;
}
.facade-info {
  max-width: 50%;
}
.facade-info h1 {
  font-size: 2.5rem;
}
.facade-btn {
  border: none;
  padding: 14px 20px;
  font-size: 1.1rem;
  font-weight: 700;
  background-color: var(--main-bg-color);
  color: var(--primary-color);
  border-radius: 7px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.facade-img {
  width: 45%;
}

/* Our Sponsors Section  */
.sponsors-section {
  margin: 70px 0;
  text-align: center;
}
.sponsors-section > h1 {
  font-size: 45px;
}
.sponsors-section p {
  max-width: 550px;
  margin: 40px auto;
}

.brands-logo {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  flex-wrap: wrap;
  filter: grayscale(100%);
}

/* footer section here  */
footer {
  background-color: var(--main-bg-color);
}
.footer {
  height: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Responsive Media Query Here  */

@media only screen and (max-width: 576px) {
  /* Top Header Section  */
  .main-nav {
    padding-top: 1rem;
    flex-direction: column;
  }

  .main-nav ul {
    margin-top: 25px;
    width: 100%;
    flex-direction: column;

    align-items: center;
  }

  /* Quick list of Our Features  */
  .features-section {
    flex-direction: column;
  }

  .feature-img-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(342px, 342px));
    gap: 25px;
  }
  .feature-text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  /* enjoyable features details section  */
  .enjoyable-features-section {
    gap: 50px;
    flex-direction: column;
    align-items: center;
  }
  .feature-info {
    width: 100%;
  }
  .feature-info-img {
    width: 70%;
  }
  .experience-text {
    height: 113px;
    width: 140px;
    bottom: -33px;
    left: -44px;
  }
  .experience-text span {
    font-size: 1.5rem;
  }
  .experience-text small {
    font-size: 1rem;
  }
  /* Get Started With Our Design  */
  .facade-section {
    flex-direction: column;
    gap: 20px;
  }
  .facade-info {
    max-width: 100%;
  }
  .facade-img {
    width: 100%;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .main-nav {
    padding-top: 1rem;
    flex-direction: column;
  }
  .main-nav ul {
    margin-top: 25px;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  /* Quick list of Our Features  */
  .features-section {
    flex-direction: column;
  }

  /* enjoyable features details section  */
  .enjoyable-features-section {
    gap: 50px;
    flex-direction: column;
    align-items: center;
  }
  .feature-info {
    width: 85%;
  }
  .feature-info-img {
    width: 75%;
  }
  .experience-text {
    height: 150px;
    width: 180px;
    bottom: -33px;
    left: -44px;
  }
  .experience-text span {
    font-size: 1.5rem;
  }
  .experience-text small {
    font-size: 1rem;
  }
}
